/* Podstawowe style */
body {
  padding-top: 56px; /* miejsce na navbar fixed */
}

/* Sekcja Hero */
#hero {
  background: url('hero-image.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
}

/* Sekcja O nas */
#about {
  padding: 60px 0;
}

/* Sekcja Oferta */
#offer {
  padding: 60px 0;
  background-color: #f8f9fa; /* odcień szarości z Bootstrapa */
}

/* Sekcja Kontakt */
#contact {
  padding: 60px 0;
}

/* Stopka */
footer {
  background: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
